*.zip
*.rar
*.mp4
Auto Label/Trad_Algorithm.m
Auto Label/+LaneBoundaryDetector/drawTrapezoidalROI.m
Auto Label/+LaneBoundaryDetector/estimateBirdsEyeTransform.m
Auto Label/+LaneBoundaryDetector/LaneBoundarySettings.m
Auto Label/+LaneBoundaryDetector/LaneBoundarySettingsPanel.m
Auto Label/+LaneBoundaryDetector/LaneBoundarySettingsWidthSelection.m
CLRerNet/.gitignored
CLRerNet/test.json
CLRerNet/Prev_Saves/libs/api/inference.py
CLRerNet/Prev_Saves/libs/api/__pycache__/inference.cpython-36.pyc
CLRerNet/Prev_Saves/libs/core/anchor/__init__.py
CLRerNet/Prev_Saves/libs/core/anchor/anchor_generator.py
CLRerNet/Prev_Saves/libs/core/anchor/__pycache__/__init__.cpython-36.pyc
CLRerNet/Prev_Saves/libs/core/anchor/__pycache__/__init__.cpython-38.pyc
CLRerNet/Prev_Saves/libs/core/anchor/__pycache__/anchor_generator.cpython-36.pyc
CLRerNet/Prev_Saves/libs/core/anchor/__pycache__/anchor_generator.cpython-38.pyc
CLRerNet/Prev_Saves/libs/core/bbox/__init__.py
CLRerNet/Prev_Saves/libs/core/bbox/__pycache__/__init__.cpython-36.pyc
CLRerNet/Prev_Saves/libs/core/bbox/__pycache__/__init__.cpython-38.pyc
CLRerNet/Prev_Saves/libs/core/bbox/assigners/dynamic_topk_assigner.py
CLRerNet/Prev_Saves/libs/core/bbox/assigners/__pycache__/dynamic_topk_assigner.cpython-36.pyc
CLRerNet/Prev_Saves/libs/core/bbox/assigners/__pycache__/dynamic_topk_assigner.cpython-38.pyc
CLRerNet/Prev_Saves/libs/core/bbox/match_costs/__init__.py
CLRerNet/Prev_Saves/libs/core/bbox/match_costs/match_cost.py
CLRerNet/Prev_Saves/libs/core/bbox/match_costs/__pycache__/__init__.cpython-36.pyc
CLRerNet/Prev_Saves/libs/core/bbox/match_costs/__pycache__/__init__.cpython-38.pyc
CLRerNet/Prev_Saves/libs/core/bbox/match_costs/__pycache__/match_cost.cpython-36.pyc
CLRerNet/Prev_Saves/libs/core/bbox/match_costs/__pycache__/match_cost.cpython-38.pyc
CLRerNet/Prev_Saves/libs/core/hook/__init__.py
CLRerNet/Prev_Saves/libs/core/hook/logger.py
CLRerNet/Prev_Saves/libs/core/hook/__pycache__/__init__.cpython-36.pyc
CLRerNet/Prev_Saves/libs/core/hook/__pycache__/__init__.cpython-38.pyc
CLRerNet/Prev_Saves/libs/core/hook/__pycache__/logger.cpython-36.pyc
CLRerNet/Prev_Saves/libs/core/hook/__pycache__/logger.cpython-38.pyc
CLRerNet/Prev_Saves/libs/datasets/__init__.py
CLRerNet/Prev_Saves/libs/datasets/culane_dataset.py
CLRerNet/Prev_Saves/libs/datasets/__pycache__/__init__.cpython-36.pyc
CLRerNet/Prev_Saves/libs/datasets/__pycache__/__init__.cpython-38.pyc
CLRerNet/Prev_Saves/libs/datasets/__pycache__/culane_dataset.cpython-36.pyc
CLRerNet/Prev_Saves/libs/datasets/__pycache__/culane_dataset.cpython-38.pyc
CLRerNet/Prev_Saves/libs/datasets/metrics/culane_metric.py
CLRerNet/Prev_Saves/libs/datasets/metrics/__pycache__/culane_metric.cpython-36.pyc
CLRerNet/Prev_Saves/libs/datasets/metrics/__pycache__/culane_metric.cpython-38.pyc
CLRerNet/Prev_Saves/libs/datasets/pipelines/__init__.py
CLRerNet/Prev_Saves/libs/datasets/pipelines/alaug.py
CLRerNet/Prev_Saves/libs/datasets/pipelines/compose.py
CLRerNet/Prev_Saves/libs/datasets/pipelines/lane_formatting.py
CLRerNet/Prev_Saves/libs/datasets/pipelines/__pycache__/__init__.cpython-36.pyc
CLRerNet/Prev_Saves/libs/datasets/pipelines/__pycache__/__init__.cpython-38.pyc
CLRerNet/Prev_Saves/libs/datasets/pipelines/__pycache__/alaug.cpython-36.pyc
CLRerNet/Prev_Saves/libs/datasets/pipelines/__pycache__/alaug.cpython-38.pyc
CLRerNet/Prev_Saves/libs/datasets/pipelines/__pycache__/compose.cpython-36.pyc
CLRerNet/Prev_Saves/libs/datasets/pipelines/__pycache__/compose.cpython-38.pyc
CLRerNet/Prev_Saves/libs/datasets/pipelines/__pycache__/lane_formatting.cpython-36.pyc
CLRerNet/Prev_Saves/libs/datasets/pipelines/__pycache__/lane_formatting.cpython-38.pyc
CLRerNet/Prev_Saves/libs/models/__init__.py
CLRerNet/Prev_Saves/libs/models/__pycache__/__init__.cpython-36.pyc
CLRerNet/Prev_Saves/libs/models/__pycache__/__init__.cpython-38.pyc
CLRerNet/Prev_Saves/libs/models/backbones/__init__.py
CLRerNet/Prev_Saves/libs/models/backbones/dla.py
CLRerNet/Prev_Saves/libs/models/backbones/__pycache__/__init__.cpython-36.pyc
CLRerNet/Prev_Saves/libs/models/backbones/__pycache__/__init__.cpython-38.pyc
CLRerNet/Prev_Saves/libs/models/backbones/__pycache__/dla.cpython-36.pyc
CLRerNet/Prev_Saves/libs/models/backbones/__pycache__/dla.cpython-38.pyc
CLRerNet/Prev_Saves/libs/models/dense_heads/__init__.py
CLRerNet/Prev_Saves/libs/models/dense_heads/clrernet_head.py
CLRerNet/Prev_Saves/libs/models/dense_heads/seg_decoder.py
CLRerNet/Prev_Saves/libs/models/dense_heads/__pycache__/__init__.cpython-36.pyc
CLRerNet/Prev_Saves/libs/models/dense_heads/__pycache__/__init__.cpython-38.pyc
CLRerNet/Prev_Saves/libs/models/dense_heads/__pycache__/clrernet_head.cpython-36.pyc
CLRerNet/Prev_Saves/libs/models/dense_heads/__pycache__/clrernet_head.cpython-38.pyc
CLRerNet/Prev_Saves/libs/models/dense_heads/__pycache__/seg_decoder.cpython-36.pyc
CLRerNet/Prev_Saves/libs/models/dense_heads/__pycache__/seg_decoder.cpython-38.pyc
CLRerNet/Prev_Saves/libs/models/detectors/__init__.py
CLRerNet/Prev_Saves/libs/models/detectors/clrernet.py
CLRerNet/Prev_Saves/libs/models/detectors/__pycache__/__init__.cpython-36.pyc
CLRerNet/Prev_Saves/libs/models/detectors/__pycache__/__init__.cpython-38.pyc
CLRerNet/Prev_Saves/libs/models/detectors/__pycache__/clrernet.cpython-36.pyc
CLRerNet/Prev_Saves/libs/models/detectors/__pycache__/clrernet.cpython-38.pyc
CLRerNet/Prev_Saves/libs/models/layers/__init__.py
CLRerNet/Prev_Saves/libs/models/layers/attentions.py
CLRerNet/Prev_Saves/libs/models/layers/__pycache__/__init__.cpython-36.pyc
CLRerNet/Prev_Saves/libs/models/layers/__pycache__/__init__.cpython-38.pyc
CLRerNet/Prev_Saves/libs/models/layers/__pycache__/attentions.cpython-36.pyc
CLRerNet/Prev_Saves/libs/models/layers/__pycache__/attentions.cpython-38.pyc
CLRerNet/Prev_Saves/libs/models/layers/nms/LICENSE
CLRerNet/Prev_Saves/libs/models/layers/nms/setup.py
CLRerNet/Prev_Saves/libs/models/layers/nms/build/lib.linux-aarch64-3.6/nms/__init__.py
CLRerNet/Prev_Saves/libs/models/layers/nms/build/lib.linux-aarch64-3.6/nms/details.cpython-36m-aarch64-linux-gnu.so
CLRerNet/Prev_Saves/libs/models/layers/nms/build/lib.linux-x86_64-3.8/nms/__init__.py
CLRerNet/Prev_Saves/libs/models/layers/nms/build/temp.linux-aarch64-3.6/.ninja_deps
CLRerNet/Prev_Saves/libs/models/layers/nms/build/temp.linux-aarch64-3.6/.ninja_log
CLRerNet/Prev_Saves/libs/models/layers/nms/build/temp.linux-aarch64-3.6/build.ninja
CLRerNet/Prev_Saves/libs/models/layers/nms/build/temp.linux-aarch64-3.6/src/nms_kernel.o
CLRerNet/Prev_Saves/libs/models/layers/nms/build/temp.linux-aarch64-3.6/src/nms.o
CLRerNet/Prev_Saves/libs/models/layers/nms/build/temp.linux-x86_64-3.8/src/nms.o
CLRerNet/Prev_Saves/libs/models/layers/nms/dist/nms-0.0.0-py3.6-linux-aarch64.egg
CLRerNet/Prev_Saves/libs/models/layers/nms/src/nms_kernel.cu
CLRerNet/Prev_Saves/libs/models/layers/nms/src/nms.cpp
CLRerNet/Prev_Saves/libs/models/layers/nms/src/nms/__init__.py
CLRerNet/Prev_Saves/libs/models/layers/nms/src/nms.egg-info/dependency_links.txt
CLRerNet/Prev_Saves/libs/models/layers/nms/src/nms.egg-info/PKG-INFO
CLRerNet/Prev_Saves/libs/models/layers/nms/src/nms.egg-info/SOURCES.txt
CLRerNet/Prev_Saves/libs/models/layers/nms/src/nms.egg-info/top_level.txt
CLRerNet/Prev_Saves/libs/models/losses/__init__.py
CLRerNet/Prev_Saves/libs/models/losses/focal_loss.py
CLRerNet/Prev_Saves/libs/models/losses/iou_loss.py
CLRerNet/Prev_Saves/libs/models/losses/seg_loss.py
CLRerNet/Prev_Saves/libs/models/losses/__pycache__/__init__.cpython-36.pyc
CLRerNet/Prev_Saves/libs/models/losses/__pycache__/__init__.cpython-38.pyc
CLRerNet/Prev_Saves/libs/models/losses/__pycache__/focal_loss.cpython-36.pyc
CLRerNet/Prev_Saves/libs/models/losses/__pycache__/focal_loss.cpython-38.pyc
CLRerNet/Prev_Saves/libs/models/losses/__pycache__/iou_loss.cpython-36.pyc
CLRerNet/Prev_Saves/libs/models/losses/__pycache__/iou_loss.cpython-38.pyc
CLRerNet/Prev_Saves/libs/models/losses/__pycache__/seg_loss.cpython-36.pyc
CLRerNet/Prev_Saves/libs/models/losses/__pycache__/seg_loss.cpython-38.pyc
CLRerNet/Prev_Saves/libs/models/necks/__init__.py
CLRerNet/Prev_Saves/libs/models/necks/clrernet_fpn.py
CLRerNet/Prev_Saves/libs/models/necks/fpn.py
CLRerNet/Prev_Saves/libs/models/necks/__pycache__/__init__.cpython-36.pyc
CLRerNet/Prev_Saves/libs/models/necks/__pycache__/__init__.cpython-38.pyc
CLRerNet/Prev_Saves/libs/models/necks/__pycache__/clrernet_fpn.cpython-36.pyc
CLRerNet/Prev_Saves/libs/models/necks/__pycache__/clrernet_fpn.cpython-38.pyc
CLRerNet/Prev_Saves/libs/utils/lane_utils.py
CLRerNet/Prev_Saves/libs/utils/visualizer.py
CLRerNet/Prev_Saves/libs/utils/__pycache__/lane_utils.cpython-36.pyc
CLRerNet/Prev_Saves/libs/utils/__pycache__/lane_utils.cpython-38.pyc
CLRerNet/Prev_Saves/libs/utils/__pycache__/visualizer.cpython-36.pyc
CLRerNet/Prev_Saves/libs/utils/__pycache__/visualizer.cpython-38.pyc
CLRerNet/saved_checkpoints/clrernet_culane_dla34_ema.pth
CLRerNet/saved_checkpoints/clrernet_culane_dla34.pth
CLRerNet/saved_checkpoints/clrernet_curvelave_dla34.pth
CLRerNet/saved_checkpoints/clrernet_no_nms_no_predictions_to_lanes_320x800.onnx
CLRerNet/saved_checkpoints/resnet_18.pth
CLRerNet/wheels/mmcv_full-1.7.0-cp36-cp36m-linux_aarch64.whl
CLRerNet/wheels/opencv_python-4.10.0.84-cp36-cp36m-linux_aarch64.whl
CLRerNet/wheels/tensorflow-1.15.5+nv22.1-cp36-cp36m-linux_aarch64.whl
Recorded Track/.gitignore
BEV/Advanced-Lane-Line-Detection/camera_cal/calibration1.jpg
BEV/Advanced-Lane-Line-Detection/camera_cal/calibration2.jpg
BEV/Advanced-Lane-Line-Detection/camera_cal/calibration3.jpg
BEV/Advanced-Lane-Line-Detection/camera_cal/calibration4.jpg
BEV/Advanced-Lane-Line-Detection/camera_cal/calibration5.jpg
BEV/Advanced-Lane-Line-Detection/camera_cal/calibration6.jpg
BEV/Advanced-Lane-Line-Detection/camera_cal/calibration7.jpg
BEV/Advanced-Lane-Line-Detection/camera_cal/calibration8.jpg
BEV/Advanced-Lane-Line-Detection/camera_cal/calibration9.jpg
BEV/Advanced-Lane-Line-Detection/camera_cal/calibration10.jpg
BEV/Advanced-Lane-Line-Detection/camera_cal/calibration11.jpg
BEV/Advanced-Lane-Line-Detection/camera_cal/calibration12.jpg
BEV/Advanced-Lane-Line-Detection/camera_cal/calibration13.jpg
BEV/Advanced-Lane-Line-Detection/camera_cal/calibration14.jpg
BEV/Advanced-Lane-Line-Detection/camera_cal/calibration15.jpg
BEV/Advanced-Lane-Line-Detection/camera_cal/calibration16.jpg
BEV/Advanced-Lane-Line-Detection/camera_cal/calibration17.jpg
BEV/Advanced-Lane-Line-Detection/camera_cal/calibration18.jpg
BEV/Advanced-Lane-Line-Detection/camera_cal/calibration19.jpg
BEV/Advanced-Lane-Line-Detection/camera_cal/calibration20.jpg
BEV/Advanced-Lane-Line-Detection/camera_cal/chessboard_corners.png
BEV/Advanced-Lane-Line-Detection/eqn/eqn1.png
BEV/Advanced-Lane-Line-Detection/eqn/eqn2.png
BEV/Advanced-Lane-Line-Detection/examples/binary_combo_example.jpg
BEV/Advanced-Lane-Line-Detection/examples/color_fit_lines.jpg
BEV/Advanced-Lane-Line-Detection/examples/example_output.jpg
BEV/Advanced-Lane-Line-Detection/examples/example.ipynb
BEV/Advanced-Lane-Line-Detection/examples/example.py
BEV/Advanced-Lane-Line-Detection/examples/undistort_output.png
BEV/Advanced-Lane-Line-Detection/examples/warped_straight_lines.jpg
