*.zip
*.rar
*.mp4
Auto Label/
CLRerNet/
BEV/Advanced-Lane-Line-Detection/camera_cal/
BEV/Advanced-Lane-Line-Detection/examples/
BEV/Advanced-Lane-Line-Detection/output_images/
Recorded Track/gitignore/